body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #F2F1EF; /* белый фон */
    color: #333333; /* темно-серый текст */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #F8F8F8; /* светло-серый фон для шапки */
}

main {
    padding: 50px;
}

section {
    margin-bottom: 40px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #302C22; /* чуть темнее серого для заголовков */
}

span {
    font-size: 24px;
    margin-bottom: 15px;
    color: #F56647; /* тот же цвет для подзаголовков */
}

p {
    font-size: 16px;
    color: #302C22; /* светло-серый текст */
    line-height: 1.6;
}

.aboutUs {
    margin-right: 27%;
}
/*
#about {
    background-color: #FAFAFA; /* еще более светлый серый фон для первой секции 
    padding: 30px;
}

/* Адаптивные стили для устройств с меньшим разрешением */
@media (max-width: 768px) {
    header, main {
        padding: 20px;
    }
}
