.sort-area {
    margin-left: 6%;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.filter-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
}

.filter {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.filter:last-child {
    margin-right: 0; 
}

.filter select {
    flex: 1; 
    padding: 10px 30px 10px 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins';
    background-size: 20px; 
    cursor: pointer;
}

.filter label {
    margin-top: 5px;
    font-size: 24px;
    color: #333;
}

@media (max-width: 600px) {
    .filter-container {
        flex-direction: column;
        align-items: stretch; 
        width: 100%; 
    }

    .filter {
        margin-right: 0; 
        margin-bottom: 10px; 
    }

    .filter:last-child {
        margin-bottom: 0;
    }
}
