body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #F2F1EF;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #F2F1EF;
}

header img {
    max-width: 50%;
    height: auto;
}

main {
    padding: 20px 50px;
}

#contacts h1 {
    font-size: 24px;
    color: #333;
}

.contact-item span {
    font-size: 16px;
    color: #333;
}

.contact-item p {
    font-size: 16px;
    color: #302C22;
    margin-bottom: 20px;
}

a {
    color: #302C22;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contact-item span, .contact-item p {
    display: inline;
    vertical-align: top;
}

#contacts > div {
    margin-bottom: 1%;
}

.contactUs {
    margin-right: 27%;
}

@media (max-width: 768px) {
    header, main {
        padding: 20px;
    }
}
