body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #F2F1EF;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F1EF;
    padding: 20px 50px;
}

header img {
    max-width: 50%;
    height: auto;
}

main {
    padding: 20px 50px;
}

.delivery-section h1 {
    font-size: 32px;
    color: #302C22;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    padding: 0 20px;
}

.column div span {
    font-size: 24px;
    color: #43715C;
}

p {
    font-size: 16px;
    color: #302C22;
    margin-bottom: 20px;
    line-height: 1.6;
}

.column div {
    margin-bottom: 40px;
}
