/* Стили для навигационного меню */

body {
    background-color: #F2F1EF; /* Цвет фона */
    background-size: cover; /* Заполнение фона по размеру */
    background-repeat: no-repeat; /* Предотвращение повторения фона */
    overflow-x: hidden;
}

header {
    height: 15%; /* Хедбар занимает 15% высоты окна браузера */
}

.menu {
    display: flex ;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 15px 6% 10px;
    height: 100%;
}

.icons {
    display: flex ;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}

.icons li {
    margin-right: 0;
}

.menu li a img {
    max-width: 50%;
}

/* Стили для выпадающего меню */

.sidebar {
    position: fixed;
    top: 0;
    right: -20%; /* Меню изначально сдвинуто за пределы экрана */
    width: 20%; /* Ширина меню */
    height: 100%;
    background-color: #C4C0B3; /* Цвет фона меню */
    transition: right 0.3s ease; /* Анимация открытия/закрытия меню */
    z-index: 1001; /* Заставляем меню отображаться поверх остального контента */
}

.sidebar.active {
    right: 0; /* Отображаем меню на экране */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Растягиваем затемнение на всю ширину экрана */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный цвет для затемнения */
    display: none; /* Изначально скрываем затемнение */
    z-index: 1000; /* Помещаем затемнение под меню */
}

.overlay.active {
    display: block; /* Показываем затемнение при открытом меню */
}

.image-slider-container {
    margin-left: 6%;
    width: 100%;
    overflow: hidden;
    box-shadow: -12px 12px 10px rgba(34, 34, 34, 0.5);
}

.image-slider {
    display: flex;
    animation: scroll 10s linear infinite;

    
}

.image-slider img {
    max-width: 17%; /* Максимальная ширина изображения будет равна ширине родительского контейнера */
    height: auto;
}

.tagline-block {
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 20px;
}

.tagline-block h2 {
    font-size: 38px; 
    color: #F56647; 

}

.new-items {
    margin-left: 6%;
    margin-right: 6%;
    max-width: 100%;
}

.top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
}

.left-element {
    font-size: 30px; 
}

.right-element {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    font-size: 30px; 
    gap: 6px;
}

.right-element img {
    max-width: 14%;
    height: 14%;
    margin-bottom: 2%;
}

#sort-options {
    display: none; /* Скрываем список сразу */
    position: absolute;
    padding: 5px 0;
    margin-top: 5px;
    list-style: none;
}

#sort-options li {
    padding: 5px 10px;
    cursor: pointer;
}

#sort-options li:hover {
    background-color: #f0f0f0;
}

.product-grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
    gap: 65px; 
}

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    box-shadow: -4px 4px 10px rgba(34, 34, 34, 0.5);
}

.product h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
}

.product p {
    font-size: 14px;
}

.product button {
    margin-top: 10px;
}